body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f7f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #f4f7f5;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  font-size: 14px;
  letter-spacing: 0.08em;
  padding: 8px 16px;
  cursor: pointer;
}

header {
  padding: 32px;
  display: flex;
  justify-content: center;
}

header .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
}

header .content button {
  background: none;
  color: #000000;
  font-size: 16px;
}

header .content h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #172a3a;
  cursor: pointer;
  text-align: center;
}

header .content .cart > span {
  background-color: #000000;
  color: #ffffff;
  padding: 0 4px 0 6px;
  border-radius: 50vh;
  font-size: 14px;
}

main,
footer {
  display: flex;
  justify-content: center;
}

main .content {
  flex: 1;
  max-width: 813px;
  padding: 32px;
  text-align: center;
}

footer .content {
  flex: 1;
  max-width: 810px;
  padding: 32px;
  text-align: center;
}

main .content .no-portal-error {
  border: 1px solid #000000;
  padding: 32px;
  line-height: 1.8;
  text-align: left;
}

main .content .no-portal-error h2 {
  margin: 0 0 8px 0;
  font-size: 24px;
  text-align: center;
}

main .content .no-portal-error p:last-child {
  margin-bottom: 0;
}

main .item-card {
  display: inline-block;
  border-radius: 3px;
  margin: 24px;
  width: 220px;
  height: 300px;
  text-align: left;
  vertical-align: top;
  cursor: pointer;
  color: #000000;
  flex-direction: column;
}

main .item-card img {
  width: 100%;
  height: auto;
}

main .item-card .item-name {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}

main .item-card .original-price,
main .item-card .price {
  margin-left: 8px;
  margin-top: 4px;
}

main .item-card .view-product {
  margin-top: 16px;
  width: 100%;
  opacity: 0;
  transition: opacity 200ms;
}

main .item-card:hover .view-product {
  opacity: 1;
}

main .original-price {
  font-size: 14px;
  color: #696b6f;
  text-decoration: line-through;
}

main .item-card .price {
  font-size: 16px;
}

main .item-page {
  display: flex;
}

main .item-page img {
  width: 50%;
  max-height: auto;
}

main .item-page > div {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;
}

main .item-page .price,
main .item-page .item-name {
  font-size: 24px;
}

main .item-page .price {
  margin: 8px 0;
}

main .item-page .item-name {
  margin-bottom: 16px;
}

main .item-page .shoe-size {
  margin: 16px 0 32px 0;
}

main .item-page .shoe-size select {
  font-size: 16px;
}

main .item-page button {
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  main .item-page {
    flex-direction: column;
  }

  main .item-page img {
    width: 100%;
    max-height: auto;
  }

  main .item-page > div {
    margin-left: 0;
    margin-top: 16px;
  }

  main .item-page .shoe-size {
    margin: 8px 0;
  }
}

main .cart-item {
  border-radius: 3px;
  margin: 36px 0;
  height: 150px;
  flex: 1;
  color: #000000;
  display: flex;
  text-align: left;
  align-items: center;
  cursor: pointer;
}

main .cart-item img {
  height: 100%;
  width: auto;
}

main .cart-item .info {
  flex: 1;
  margin: 0 24px;
}

main .cart-item .info > div {
  line-height: 1.6;
}

main .cart-item .info .item-name {
  font-size: 18px;
  font-weight: 500;
}

main .cart-item .actions {
  margin-right: 24px;
}

@media screen and (max-width: 560px) {
  main .cart-item {
    flex-direction: column;
    align-items: flex-start;
    height: unset;
  }

  main .cart-item img {
    width: 100%;
    height: auto;
  }

  main .cart-item .info {
    margin: 16px;
  }

  main .cart-item .actions {
    margin-right: unset;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

main .empty-cart {
  font-size: 20px;
  color: #a7a2a9;
  margin: 64px 0;
}

.page-load {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000077;
  width: 100%;
  height: 100%;
}

.page-load::before {
  content: '';
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 24px;
  height: 24px;
  border-radius: 32px;
  border: 8px solid #000000;
  border-bottom: 8px solid transparent;
  animation: spin ease 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.skeleton {
  margin: 4px 0;
  background-color: #a7a2a9;
  border-radius: 4px;
  animation: blink alternate 1s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

portal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: #00000055 0 0 10px;
}

portal.right-portal {
  animation: slide-left 500ms paused;
}

@keyframes slide-left {
  from {
    transform: translateX(calc(100% + 10px));
  }

  to {
    transform: translateX(0);
  }
}

portal.left-portal {
  animation: slide-right 500ms paused;
}

@keyframes slide-right {
  from {
    transform: translateX(calc(-100% - 10px));
  }

  to {
    transform: translateX(0);
  }
}

portal.top-portal {
  animation: slide-down 500ms paused;
}

@keyframes slide-down {
  from {
    transform: translateY(calc(-100% - 10px));
  }

  to {
    transform: translateY(0);
  }
}
