* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f7f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #f4f7f5;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  font-size: 14px;
  letter-spacing: 0.08em;
  padding: 8px 16px;
  cursor: pointer;
}

main .content {
  flex: 1;
  max-width: 813px;
  padding: 32px;
  text-align: center;
}

main .original-price {
  font-size: 14px;
  color: #696b6f;
  text-decoration: line-through;
}
