* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f7f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #f4f7f5;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  font-size: 14px;
  letter-spacing: 0.08em;
  padding: 8px 16px;
  cursor: pointer;
}

header {
  padding: 32px;
  display: flex;
  justify-content: center;
}

header .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
}

header .content button {
  background: none;
  color: #000000;
  font-size: 16px;
}

header .content h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #172a3a;
  cursor: pointer;
  text-align: center;
}

header .content .cart > span {
  background-color: #000000;
  color: #ffffff;
  padding: 0 4px 0 6px;
  border-radius: 50vh;
  font-size: 14px;
}

main,
footer {
  display: flex;
  justify-content: center;
}

main .content {
  flex: 1;
  max-width: 813px;
  padding: 32px;
  text-align: center;
}

footer .content {
  flex: 1;
  max-width: 810px;
  padding: 32px;
  text-align: center;
}

main .content .no-portal-error {
  border: 1px solid #000000;
  padding: 32px;
  line-height: 1.8;
  text-align: left;
}

main .content .no-portal-error h2 {
  margin: 0 0 8px 0;
  font-size: 24px;
  text-align: center;
}

main .content .no-portal-error p:last-child {
  margin-bottom: 0;
}

main .original-price {
  font-size: 14px;
  color: #696b6f;
  text-decoration: line-through;
}

main .item-page {
  display: flex;
}

main .item-page img {
  width: 50%;
  max-height: auto;
}

main .item-page > div {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;
}

main .item-page .price,
main .item-page .item-name {
  font-size: 24px;
}

main .item-page .price {
  margin: 8px 0;
}

main .item-page .item-name {
  margin-bottom: 16px;
}

main .item-page .shoe-size {
  margin: 16px 0 32px 0;
}

main .item-page .shoe-size select {
  font-size: 16px;
}

main .item-page button {
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  main .item-page {
    flex-direction: column;
  }

  main .item-page img {
    width: 100%;
    max-height: auto;
  }

  main .item-page > div {
    margin-left: 0;
    margin-top: 16px;
  }

  main .item-page .shoe-size {
    margin: 8px 0;
  }
}

main .empty-cart {
  font-size: 20px;
  color: #a7a2a9;
  margin: 64px 0;
}

.page-load {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000077;
  width: 100%;
  height: 100%;
}

.page-load::before {
  content: '';
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 24px;
  height: 24px;
  border-radius: 32px;
  border: 8px solid #000000;
  border-bottom: 8px solid transparent;
  animation: spin ease 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
